# Dependencies
node_modules/

# Environment files
.env

# IDE / system files
.vscode/
.DS_Store

# Backend sensitive/generated data
backend/src/constants/doctors.json
backend/src/constants/providers.json