@* MedicalReferenceNavItem.razor *@
<li class="nav-item">
    <a href="https://medreftool.netlify.app" target="_blank" rel="noopener noreferrer" class="nav-link" title="Medical Reference">
        <span class="nav-icon" aria-hidden="true">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <!-- Book outline -->
                <path d="M19 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h13c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h1v14H6V4zm13 16H9V4h10v16z" />
                <!-- Medical cross inside book page -->
                <path d="M11 9h2v2h2v2h-2v2h-2v-2H9v-2h2V9z" />
            </svg>
        </span>
        <span class="nav-label">Medical Reference</span>
    </a>
</li>
